.result-view {
  margin-bottom: 10px;
  text-align: center;

  .panel {
    margin: 0 auto;

    h1 {
      margin-bottom: 0;
    }
  }

  .options {
    font-size: 40px;
    font-weight: bold;
  }
}
